<?xml version="1.0"?>
<config>
    <modules>
        <Indiegroup_Santander>
            <version>1.0.0</version>
        </Indiegroup_Santander>
    </modules>
    <frontend>
        <routers>
            <santander>
                <use>standard</use>
                <args>
                    <module>Indiegroup_Santander</module>
                    <frontName>santander</frontName>
                </args>
            </santander>
        </routers>
        <layout>
            <updates>
                <santander>
                    <file>santander.xml</file>
                </santander>
            </updates>
        </layout>
        <translate>
            <modules>
                <santander>
                    <files>
                        <default>Indiegroup_Santander.csv</default>
                    </files>
                </santander>
            </modules>
        </translate>
        <product>
            <collection>
                <attributes>
                    <!--<santanderactive />-->
                    <santanderpricemonth />                                           
                </attributes>
            </collection>
        </product>
    </frontend>
    <global>
        <sales>
            <order>
                <statuses>
                    <santander_reject translate="label">
                        <label>Santander Reject</label>
                    </santander_reject>
                    <santander_accept translate="label">
                        <label>Santander Accept</label>
                    </santander_accept>
                    <santander_refer translate="label">
                        <label>Santander Refer</label>
                    </santander_refer>
                </statuses>
                <states>
                    <canceled>
                        <statuses>
                            <santander_reject />
                        </statuses>
                    </canceled>
                    <pending_payment>
                        <statuses>
                            <santander_refer />
                        </statuses>
                    </pending_payment>
                    <processing>
                        <statuses>
                            <santander_accept />
                        </statuses>
                    </processing>
                </states>
            </order>
        </sales>
        <helpers>
            <santander>
                <class>Indiegroup_Santander_Helper</class>
            </santander>
        </helpers>
        <blocks>
            <santander>
                <class>Indiegroup_Santander_Block</class>
            </santander>
        </blocks>
        <models>
            <santander>
                <class>Indiegroup_Santander_Model</class>
                <resourceModel>santander_mysql4</resourceModel>
            </santander>
        </models>
        <resources>
            <salesattribute1380031596_setup>
                <setup>
                    <module>Indiegroup_Santander</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </salesattribute1380031596_setup>
            <salesattribute1380031596_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesattribute1380031596_write>
            <salesattribute1380031596_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesattribute1380031596_read>
            <productattribute_setup>
                <setup>
                    <module>Indiegroup_Santander</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productattribute_setup>
            <productattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productattribute_write>
            <productattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productattribute_read>
            <customerattribute_setup>
                <setup>
                    <module>Indiegroup_Santander</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute_setup>
            <customerattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute_write>
            <customerattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute_read>
            <order_status_setup>
                <setup>
                    <module>Indiegroup_Santander</module>
                </setup>
            </order_status_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <santander>
                        <type>singleton</type>
                        <class>santander/observer</class>
                        <method>catalog_product_save_after</method>
                    </santander>
                </observers>
            </catalog_product_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <santander>
                        <type>singleton</type>
                        <class>santander/observer</class>
                        <method>sales_order_payment_cancel</method>
                    </santander>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_shipment_save_after>
                <observers>
                    <santander>
                        <type>singleton</type>
                        <class>santander/observer</class>
                        <method>sales_order_shipment_save_after</method>
                    </santander>
                </observers>
            </sales_order_shipment_save_after>
        </events>
    </global>  
    <admin>
        <routers>
            <santander>
                <use>admin</use>
                <args>
                    <module>Indiegroup_Santander</module>
                    <frontName>santander</frontName>
                </args>
            </santander>
        </routers>
    </admin>  
    <adminhtml>
        <menu>
            <santander module="santander">
                <title>Santander</title>
                <sort_order>100</sort_order>
                <children>
                    <santanderbackend module="santander">
                        <title>Santander</title>
                        <sort_order>0</sort_order>
                        <action>santander/adminhtml_santanderbackend</action>
                    </santanderbackend>
                </children>
            </santander>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <santander translate="title" module="santander">
                            <title>Santander</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <santanderbackend translate="title">
                                    <title>Santander</title>
                                </santanderbackend>
                            </children>
                        </santander>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <santander>
                    <file>santander.xml</file>
                </santander>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>            
            <santander_cron>
                <run>
                    <model>santander/cron::importSantanderPrices</model>
                </run>
            </santander_cron>
            <santander_active>
                <run>
                    <model>santander/cron::setAllProductsSantanderActive</model>
                </run>
            </santander_active>
        </jobs>
    </crontab>
    <default>
        <payment>
            <santander_new>
                <model>santander/standard</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Santander New Card</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </santander_new>
            <santander_recurring>
                <model>santander/recurring</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Santander Recurring Card</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </santander_recurring>
        </payment>
    </default>
</config> 